@font - face {
    font - family: "Artifakt Legend";
    font - weight: 800;
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Bold.eot");
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Bold.eot?#iefix") format("embedded-opentype"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Bold.woff") format("woff"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Bold.ttf") format("truetype")
}
@font - face {
    font - family: "Artifakt Legend";
    font - weight: 600;
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Medium.eot");
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Medium.eot?#iefix") format("embedded-opentype"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Medium.woff") format("woff"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/legend-web/Artifakt Legend Medium.ttf") format("truetype")
}
@font - face {
    font - family: "Artifakt Element";
    font - weight: 600;
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/element-web/Artifakt Element Medium.eot");
    src: url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/element-web/Artifakt Element Medium.eot?#iefix") format("embedded-opentype"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/element-web/Artifakt Element Medium.woff") format("woff"), url("https://static-dc.autodesk.net/content/dam/autodesk/css/fonts-banner-campaign-boldium/element-web/Artifakt Element Medium.ttf") format("truetype")
}
body, html {
    margin: 0 px
}.banner - link {
    color: inherit;cursor: pointer;text - decoration: none
}.cta {
    font - family: "Artifakt Element";
    font - weight: 600;
    font - size: 13 px;
    padding: 0 px 7 px;
    height: 28 px;
    display: table;
    text - transform: uppercase;
    text - decoration: none;
    background - color: #db252b;
    color: #FFF
}.cta.cta - inner {
    display: table - cell;vertical - align: middle
}.cta h5 {
    width: 100 % ;line - height: 100 % ;height: auto;margin: 0 px;display: inline - block
}.cta span {
    float: right;margin - top: -1 px
}.cta: hover {
    background - color: #b1161b
}.banner - wrapper {
    width: 300 px;height: 250 px;position: relative;overflow: hidden;color: #000000;border:1px solid # e5e5e5;box - sizing: border - box; - webkit - box - sizing: border - box; - ms - box - sizing: border - box; - moz - box - sizing: border - box; - o - box - sizing: border - box
}.banner - wrapper img {
    border: none
}.banner - wrapper.banner - inner {
    width: 100 % ;height: 100 % ;position: absolute;left: 0 px;right: 0 px;top: 0 px;bottom: 0 px;margin: auto;overflow: hidden
}.banner - wrapper.banner - wrapper - background {
    position: relative;width: 100 % ;height: 100 % ;z - index: -1;background - image: url("../images/sketch-background.jpg");background - size: cover;opacity: .3
}.banner - wrapper.headers {
    position: relative;left: 15 px;top: 15 px
}.banner - wrapper.headers h1 {
    font - family: "Artifakt Legend";
    font - weight: 600;
    font - size: 24 px;
    line - height: 130 % ;
    margin: 0 px;
    position: absolute;
    opacity: 0
}.banner - wrapper.headers h1: first - of -type {
    opacity: 1
}.banner - wrapper.subheaders {
    position: relative;top: 85 px;left: 15 px
}.banner - wrapper.subheaders h2 {
    font - family: "Artifakt Legend";
    font - weight: 600;
    font - size: 18 px;
    width: 250 px;
    margin: 0 px;
    color: #db252b;
    opacity: 0;
    position: absolute
}.banner - wrapper.cta {
    width: 130 px;position: absolute;bottom: 15 px;left: 15 px;box - sizing: border - box; - webkit - box - sizing: border - box; - ms - box - sizing: border - box; - moz - box - sizing: border - box; - o - box - sizing: border - box
}.banner - wrapper.cta: after {
    content: "";position: absolute;top: 0 px;left: 0 px;width: 0 % ;height: 100 % ;background - color: rgba(255, 255, 255, 0.6);transition: none; - webkit - transition: none; - ms - transition: none; - moz - transition: none; - o - transition: none
}.banner - wrapper.cta.shine {
    background - position: 100 px 100 px
}.banner - wrapper.cta.shine: after {
    width: 120 % ;background - color: rgba(255, 255, 255, 0);transition: all 0.5 s ease - out; - webkit - transition: all 0.5 s ease - out; - ms - transition: all 0.5 s ease - out; - moz - transition: all 0.5 s ease - out; - o - transition: all 0.5 s ease - out
}.banner - wrapper.adk - logo {
    position: absolute;width: 101 px;right: 15 px;bottom: 18 px
}.banner - wrapper.replay - icon {
    width: 15 px;height: 15 px;position: absolute;top: 10 px;right: 10 px;z - index: 999
}.ie.cta - inner {
    padding - top: 6 px
}.replay - icon {
    opacity: 0
}.banner - wrapper {
    width: 728 px;height: 90 px
}.banner - wrapper.replay - icon {
    left: 10 px;bottom: 0 px
}.banner - wrapper.banner - wrapper - background {
    width: 200 px;height: 100 % ;top: 0 px;left: 0 px;opacity: 1;background - position: 80 % center
}.banner - wrapper.headers {
    padding: 15 px 15 px 15 px 15 px;left: 0 px;top: 0 px;width: 100 % ;height: 100 % ;position: absolute;box - sizing: border - box; - webkit - box - sizing: border - box; - ms - box - sizing: border - box; - moz - box - sizing: border - box; - o - box - sizing: border - box
}.banner - wrapper.headers.adk - logo {
    right: auto;top: 28 px;bottom: auto
}.banner - wrapper.headers.head - 1, .banner - wrapper.headers.head - 2 {
    width: 100 % ;height: 100 % ;top: 0 px;left: 239 px;line - height: 58 px;margin: auto;font - size: 22 px
}.banner - wrapper.headers.head - 2 {
    line - height: 88 px
}.banner - wrapper.subheaders {
    top: 0 px;left: 198 px;width: 350 px;height: 88 px;position: absolute;overflow: hidden
}.banner - wrapper.subheaders h2 {
    font - size: 22 px;
    top: 45 px;
    padding - left: 40 px
}.banner - wrapper.footer {
    position: absolute;width: 120 px;height: 100 % ;bottom: 0 px;right: 0 px;padding: 0 px 20 px 0 px 0 px;box - sizing: border - box; - webkit - box - sizing: border - box; - ms - box - sizing: border - box; - moz - box - sizing: border - box; - o - box - sizing: border - box
}.banner - wrapper.footer.cta, .banner - wrapper.footer.adk - logo {
    position: relative
}.banner - wrapper.footer.cta {
    width: 100 % ;left: auto;bottom: auto;float: left;clear: both;margin - bottom: 0 px
}.banner - wrapper.footer.adk - logo {
    right: auto;bottom: auto;margin - top: 18 px;margin - bottom: 10 px;float: left;clear: both
}.ie.head - 1 {
    line - height: 72 px!important
}.ie.banner - wrapper.subheaders h2 {
    top: 50 px!important
}
